<!DOCTYPE HTML>
<html>
<head>
<title>Your Cart</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<div>
		<h1 align="center"><font size="15"><font color="#FFFFFF">智能订餐推荐系统</font></font></h1>
	</div>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm" ><font size="5">登录</font></a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">欢迎您, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		菜单内有 {{noOfItems}} 个菜
		</a>
	</div>
</div>
<div id="cartItems">
	<h2>菜单</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				有库存<br>
				<a href="/removeFromCart?productId={{row[0]}}">删除</a>
			</div>
			<div id="itemPrice">
				￥{{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">总价</span> : ￥{{totalPrice}}
		</div>
	</div>
</div>
<a href="/checkout">结算菜品</a>
</body>
</html>

